{% extends "layout.html" %}

{% block title %}
    選手
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <th>競技</th>
            <th>種目</th>
            <th>順位</th>
            <th>選手</th>
            <th>チーム</th>
            <th>記録</th>
        </thead>
        <tbody>
            {% for result in results %}
                <tr>
                    <td>{{result["sport"]}}</td>
                    <td>{{result["event"]}}</td>
                    <td>{{result["rank"]}}</td>
                    <td>{{result["athletes"]}}</td>
                    <td>{{result["team"]}}</td>
                    <td>{{result["record"]}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
