{% extends "layout.html" %}

{% block title %}
    夏季オリンピック
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <th>年</th>
            <th>都市</th>
            <th>国</th>
        </thead>
        <tbody>
            <tr>
                <td>2000</td>
                <td>シドニー</td>
                <td>オーストラリア</td>
            </tr>
            <tr>
                <td>2004</td>
                <td>アテネ</td>
                <td>ギリシャ</td>
            </tr>
            <tr>
                <td>2008</td>
                <td>北京</td>
                <td>中国</td>
            </tr>
            <tr>
                <td>2012</td>
                <td>ロンドン</td>
                <td>イギリス</td>
            </tr>
            <tr>
                <td>2016</td>
                <td>リオデジャネイロ</td>
                <td>ブラジル</td>
            </tr>
            <tr bgcolor="#75A9FF">
                <td>2021</td>
                <td>東京</td>
                <td>日本</td>
            </tr>
            <tr>
                <td>2024</td>
                <td>パリ</td>
                <td>フランス</td>
            </tr>
            <tr>
                <td>2028</td>
                <td>ロサンゼルス</td>
                <td>アメリカ</td>
            </tr>
            <tr>
                <td>2032</td>
                <td>ブリスベン</td>
                <td>オーストラリア</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
